* {
  margin: 0;
  padding: 0;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

/* ---------------header--------------- */

#header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #4285f4;
}

#top-title {
	color: #ddd;
	text-align: center;
}

#fab-wrapper {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 40px;
	bottom: 40px;
}

#fab-to-top {
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #F4B400;
	box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.3)
}

.fa {
	color: #ddd;
	font-size: 30px;
}

/* ---------------header--------------- */

/* ---------------about---------------- */
#about {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#about-data {
	display: flex;
	justify-content: center;
}

#about-data-image {
	margin-right: 100px;
}

#about-data-list {
	font-size: 17px;
	list-style: none;
	align-self: center;
}

#about-data-list li:not(:last-child) {
	margin-bottom: 30px;
}

#about-data-image {
	width: 240px;
	height: 240px;
}

/* ---------------about---------------- */

/* ---------------skills--------------- */

#skills {
	width: 100vw;
	height: 100%;
}

#skills-title {
	margin-bottom: 80px;
	text-align: center;
	font-size: 30px;
}

#skill-main {
	display: flex;
	width: 558px;
	height: 198px;
	margin: 0 auto 110px;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid rgba(0, 153, 255, 0.6);
	box-shadow: 5px 3px 15px rgba(0, 153, 255, 0.5);
}

#skill-main-title {
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
}

#skill-main-description {
	font-weight: 300;
	line-height: 27px;
}

#skill-main-image {
	width: 198px;
	height: 198px;
	margin-right: 20px;
}

.sub_skills {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.skill_content {
	width: 160px;
	height: 220px;
	padding: 20px;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3)
}

.skill_content:not(:last-child) {
	margin-right: 50px;
}

.skill_content_image {
	width: 160px;
	height: 160px;
}

.skill_content_title {
	text-align: center;
	margin-top: 20px;
}
/* ---------------skills--------------- */

/* ---------------career--------------- */

#career {
	width: 100vw;
	height: 100%;
}

#career-wrapper {
	width: 40%;
	min-width: 340px;
	margin: 0 auto 80px;
}

#career-title {
	margin-bottom: 40px;
	font-size: 30px;
	text-align: center;
}

.career_item {
	padding-top: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

.career_item_date {
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 200;
	color: rgb(153, 144, 144);
}

.career_item_content {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* ---------------career--------------- */

/* --------------products-------------- */

#products {
	width: 100vw;
	height: 100%;
	margin-top: 20px;
}

#products-title {
	margin-bottom: 40px;
	font-size: 30px;
	text-align: center;
}

.product {
	display: flex;
	justify-content: center;
	text-align: center;
}

.product_content_wrapper {
	padding: 20px;
}

.product_title {
	text-align: left;
	margin-bottom: 20px;
}

.product_description {	
	text-align: left;
	line-height: 28px;
}

.app_store_link {
	display: inline-block;
	margin-top: 30px;
	text-align: center;
	overflow: hidden;
	background: url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2019-04-07&kind=iossoftware&bubble=ios_apps) no-repeat;
	width: 135px;
	height: 40px;
}

.product_image {
	margin-left: 10px;
	border-radius: 20px;
	width: 200px;
}
/* --------------products-------------- */

/* ----------------sns----------------- */

#sns {
	width: 100vw;
	height: 100%;
	margin-top: 70px;
	margin-bottom: 50px;
}

#sns-title {
	margin-bottom: 40px;
	text-align: center;
	font-size: 30px;
}

#sns-list {
	display: flex;
	justify-content: space-between;
	width: 25%;
	min-width: 210px;
	margin: 0 auto;
}

.fab {
	font-size: 50px;
}

.fa-twitter {
	color: #00acee;
}

.fa-facebook {
	color: #3b5998;
}

.fa-github {
	color: #333;
}
/* ----------------sns----------------- */

@media(max-width: 830px) {

	#skill-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 75vw;
		height: 75vw;
		max-width: 340px;
		max-height: 340px;
		padding: 25px;
		margin: 0 auto 100px;
	}

	#skill-main-title {
		margin-bottom: 10px;
		font-size: 25px;
		font-weight: 700;
	}

	#skill-main-description {
		font-weight: 300;
		line-height: 27px;
	}

	#skill-main-image {
		width: 50%;
		height: 50%;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.sub_skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}

	.skill_content:not(:last-child) {
		margin-right: 0;
		margin-bottom: 50px;
	}
}

@media(max-width: 430px) {
	#skill-main-title {
		margin-bottom: 8px;
		font-size: 22px;
	}

	#skill-main-description {
		font-size: 14px;
		line-height: 22px;
	}
}

@media(max-width: 370px) {
	#skill-main-description {
		font-size: 12px;
		line-height: 22px;
	}
}


